{% extends 'rango/base.html' %}
{% load staticfiles %} 

{% block title_block %}
    About
{% endblock %}

{% block body_block %}
        <h1>Rango says...</h1>
        <div>
            welcome to the about page! <br />
            <strong>{{ boldmessage }}</strong><br />
            Visits: {{ visits }}<br />
        </div>

        <div>
                This tutorial has been put together by Luis <br />
                <strong>{{ boldmessage }}</strong><br />
            </div>
        
        <div>
            <img src="{% static "images/rango_about.jpg" %}" 
                alt="Picture of Rango" /> <!-- New line -->
        </div>

        <div>
                <img src="{{ MEDIA_URL}}cat.jpg"
                    alt="Picture of Cat" /> <!-- New line -->
        </div>
{% endblock %}